---
import {getBlogPosts, getBlogPost} from "../../library/basercms";
import {BlogPost} from "../../library/basercms-js-sdk";
import Layout from '../../layouts/Layout.astro';

export async function getStaticPaths() {
    const response = await getBlogPosts();
    return response.map((post: BlogPost) => ({
        params: { id: String(post.id) }
    }));
}

const post = await getBlogPost(Astro.params.id as string);
---

<Layout {...post}>
	<div set:html={post.content}></div>
	<div set:html={post.detail}></div>
</Layout>
